# Database — MySQL required
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=evershop
DB_USER=evershop
DB_PASSWORD=

# App
NODE_ENV=production
PORT=3000

# Admin
EVERSHOP_ADMIN_EMAIL=admin@example.com
EVERSHOP_ADMIN_PASSWORD=Admin@123
EVERSHOP_ADMIN_USER=admin
